#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  opacity: 0.8;
  transition: opacity 0.3s;
}

#back-to-top:hover {
  background-color: #333;
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  #back-to-top {
    background-color: #333;
    color: #e0e0e0;
  }
  #back-to-top:hover {
    background-color: #555;
  }
}
